* {
	box-sizing: border-box;
}

html {
	height: 100%;
	overflow: hidden;
}

body {
	height: 100%;
	overflow: auto;
	margin: 0;
	color: rgba(0, 0, 0, 0.86);
}

.header {
	display: flex;
	margin-bottom: 12px;
	border-bottom: 1px solid #000;
}

.header .left {
	display: flex;
	align-items: center;
	min-width: 200px;
}

.header .left h3 {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
}

.header .right {
	display: inline-block;
	border-left: 1px solid #000;
	width: 100%;
}

.header .right a {
	display: inline-block;
	padding: 6px;
	text-decoration: none;
	font-family: Futura, sans-serif;
	font-size: 13px;
}

.header .right p {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: 6px;
	border-top: 1px solid #000;
}

.help-section {
	margin-bottom: 12px;
	padding: 6px 12px;
	border: 1px solid #000;
}

.help-section h4 {
	margin: 0;
	margin-top: 4px;
	margin-bottom: 6px;
	text-decoration: underline;
}

.help-section .help-subheader {
	margin-bottom: 8px;
}

.help-section .example {
	width: 50%;
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 4px;
	font-family: monospace;
	vertical-align: top;
}

@media (max-width: 1020px) {
	.help-section .example {
		width: 100%;
	}
}

.help-section .help-footer {
	margin-top: 8px;
}

@media (max-width: 780px) {
	.center .left {
		width: 60% !important;
	}

	.center .right {
		width: 40% !important;
	}

	.center .right .selected-quake div {
		min-width: 100% !important;
	}
}

@media (max-width: 620px) {
	.center .location {
		display: none !important;
	}
}

.center .left {
	display: inline-block;
	width: 50%;
}

.center .left input {
	width: calc(100% - 58px);
	margin-left: 12px;
	height: 38px;
	padding: 6px;
	font-size: 16px;
	margin-bottom: 10px;
	border: 1px solid #000;
	float: left;
}

.center .left input:focus {
	outline: none;
}

.center .left .help-button {
	display: inline-block;
	border: 1px solid #000;
	border-left: 0;
	width: 38px;
	height: 38px;
	line-height: 38px;
	text-align: center;
	vertical-align: top;
	font-family: monospace;
	font-size: 20px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.center .left ul {
	display: inline-block;
	font-family: monospace;
	padding: 0;
	margin: 0;
	margin-left: 12px;
	width: calc(100% - 20px);
	overflow-y: auto;
}

.center .left ul svelte-virtual-list-contents, .center .left ul svelte-virtual-list-row {
	display: block;
}

.center .left ul svelte-virtual-list-row {
	overflow: hidden;
}

.center .left ul svelte-virtual-list-viewport {
	position: relative;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	display: block;
	border: 1px solid #000;
}

.center .left ul svelte-virtual-list-viewport.bottom {
	border: 0;
}

.center .left ul svelte-virtual-list-viewport.bottom svelte-virtual-list-contents {
	border: 1px solid #000;
}

.center .left ul li {
	list-style: none;
	min-height: 24px;
	padding-top: 4px;
}

.center .left ul li.empty-message {
	border: 1px solid #000;
	line-height: 22px;
	text-align: center;
}

.center .left ul li.odd {
	background-color: #f4f4f4;
}

.center .left ul li div {
	vertical-align: middle;
	display: inline-block;
	overflow-wrap: break-word;
}

.center .left ul li div.size {
	width: 38px;
	padding-left: 4px;
}

.center .left ul li div.country {
	min-width: 100px;
	width: calc(40% - 42px);
}

.center .left ul li div.date {
	float: right;
	padding-right: 8px;
}

.center .right {
	float: right;
	width: 50%;
	padding-right: 12px;
	padding-left: 4px;
}

.center .right .map-wrapper {
	position: relative;
	overflow: hidden;
	border: 1px solid #000;
}

.center .right .map-wrapper img {
	display: block;
	width: 100%;
}

.center .right .map-wrapper svg {
	position: absolute;
	top: 0;
	left: 0;
}

.center .right .selected-quake {
	border: 1px solid #000;
	padding: 6px 12px;
	margin-top: 12px;
}

.center .right .selected-quake h4 {
	margin: 0;
	margin-top: 4px;
	margin-bottom: 6px;
	text-decoration: underline;
}

.center .right .selected-quake div {
	min-width: 45%;
	max-width: 55%;
	display: inline-block;
	margin-top: 4px;
	margin-bottom: 4px;
	vertical-align: top;
	font-family: monospace;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.footer .source-code {
	float: right;
	padding: 4px 10px 4px 8px;
	font-size: 14px;
	font-family: futura, sans-serif;
	text-decoration: none;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	background-color: #fff;
}
