<div class='header'>
  <div class='left'>
    <h3>
      Earthquakes
    </h3>
  </div>
  <div class='right'>
    <a href='https://www.ngdc.noaa.gov/nndc/struts/form?t=101650&s=1' target='_blank'>
      National Geophysical Data Center / World Data Service (NGDC/WDS): NCEI/WDS Global Significant Earthquake Database. NOAA National Centers for Environmental Information. doi:10.7289/V5TD9V7K
    </a>
    <p>
      Disclaimer: This data has been normalized and approximated from the original NCEI/WDS source.
    </p>
  </div>
</div>

<div id='splash-render-hook'>
</div>

<div class='footer'>
  <a class='source-code' href='https://github.com/zumbalogy/command_search_example' target='_blank'>
    Source Code
  </a>
</div>

<script>
  window.allQuakes = <%= raw Earthquake.all.to_json %>
  <%# TODO: make this just a static file or something. %>

  <%# TODO: externs and such https://lispcast.com/clojurescript-externs/. %>
  window.fastQuakeFilter = function(ids, list) {
    var output = [];
    var list_index = 0;
    ids.forEach(function(id) {
      while (id !== list[list_index]._id) {
        list_index += 1;
      }
      output.push(list[list_index])
      list_index += 1;
    })
    return output;
  }
</script>
