<div class='header'>
  <div class='left'>
    <h3>
      Earthquakes
    </h3>
  </div>
  <div class='right'>
    <a href='https://www.ngdc.noaa.gov/nndc/struts/form?t=101650&s=1' target='_blank'>
      National Geophysical Data Center / World Data Service (NGDC/WDS): NCEI/WDS Global Significant Earthquake Database. NOAA National Centers for Environmental Information. doi:10.7289/V5TD9V7K
    </a>
    <p>
      Disclaimer: This data has been normalized and approximated from the original NCEI/WDS source.
    </p>
  </div>
</div>

<div id='splash-render-hook'>
</div>

<div class='footer'>
  <a class='source-code' href='https://github.com/zumbalogy/command_search_example' target='_blank'>
    Source Code
  </a>
</div>
