* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: auto;
  margin: 0;
  color: rgba(0, 0, 0, 0.86);
}

.header {
  display: flex;
  margin-bottom: 12px;
  border-bottom: 1px solid #000;
  .left {
    display: flex;
    align-items: center;
    min-width: 200px;
    h3 {
      width: 100%;
      text-align: center;
      font-family: sans-serif;
    }
  }
  .right {
    display: inline-block;
    border-left: 1px solid #000;
    width: 100%;
    a {
      display: inline-block;
      padding: 6px;
      text-decoration: none;
      font-family: Futura, sans-serif;
      font-size: 13px;
    }
    p {
      display: inline-block;
      width: 100%;
      margin: 0;
      padding: 6px;
      border-top: 1px solid #000;
    }
  }
}

.help-section {
  margin-bottom: 12px;
  padding: 6px 12px;
  border: 1px solid #000;
  h4 {
    margin: 0;
    margin-top: 4px;
    margin-bottom: 6px;
    text-decoration: underline;
  }
  .help-subheader {
    margin-bottom: 8px;
  }
  .example {
    width: 50%;
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: monospace;
    vertical-align: top;
    @media (max-width: 1020px) {
      width: 100%;
    }
  }
  .help-footer {
    margin-top: 8px;
  }
}

.center {
  @media (max-width: 780px) {
    .left {
      width: 60% !important;
    }
    .right {
      width: 40% !important;
      .selected-quake div {
        min-width: 100% !important;
      }
    }
  }
  @media (max-width: 620px) {
    .location {
      display: none !important;
    }
  }
  .left {
    display: inline-block;
    width: 50%;
    input {
      width: calc(100% - 58px);
      margin-left: 12px;
      height: 38px;
      padding: 6px;
      font-size: 16px;
      margin-bottom: 10px;
      border: 1px solid #000;
      &:focus {
        outline: none;
      }
    }
    .help-button {
      display: inline-block;
      border: 1px solid #000;
      border-left: 0;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      vertical-align: top;
      font-family: monospace;
      font-size: 20px;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    ul {
      display: inline-block;
      border: 1px solid #000;
      font-family: monospace;
      padding: 0;
      margin: 0;
      margin-left: 12px;
      width: calc(100% - 20px);
      overflow-y: auto;
      height: 100vh;
      max-height: calc(100vh - 136px);
      @media (max-width: 1448px) { max-height: calc(100vh - 142px); }
      @media (max-width: 848px) { max-height: calc(100vh - 160px); }
      @media (max-width: 829px) { max-height: calc(100vh - 178px); }
      @media (max-width: 645px) { max-height: calc(100vh - 194px); }
      @media (max-width: 544px) { max-height: calc(100vh - 212px); }
      @media (max-width: 534px) { max-height: calc(100vh - 230px); }
      @media (max-width: 469px) { max-height: calc(100vh - 246px); }
      @media (max-width: 439px) { max-height: calc(100vh - 264px); }
      // svelte-virtual-list-contents {
      //   border-right: 1px solid #000;
      //   border-left: 1px solid #000;
      // }
      li {
        list-style: none;
        min-height: 24px;
        padding-top: 4px;
        &.empty-message {
            line-height: 22px;
            text-align: center;
        }
        &.odd {
          background-color: #f4f4f4;
        }
        div {
          vertical-align: middle;
          display: inline-block;
          overflow-wrap: break-word;
          &.size {
            width: 38px;
            padding-left: 4px;
          }
          &.country {
            min-width: 100px;
            width: calc(40% - 42px)
          }
          &.location {
          }
          &.date {
            float: right;
            padding-right: 8px;
          }
        }
      }
    }
  }
  .right {
    float: right;
    width: 50%;
    padding-right: 12px;
    padding-left: 4px;
    .map-wrapper {
      position: relative;
      overflow: hidden;
      border: 1px solid #000;
      img {
        display: block;
        width: 100%;
      }
      svg {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .selected-quake {
      border: 1px solid #000;
      padding: 6px 12px;
      margin-top: 12px;
      h4 {
        margin: 0;
        margin-top: 4px;
        margin-bottom: 6px;
        text-decoration: underline;
      }
      div {
        min-width: 45%;
        max-width: 55%;
        display: inline-block;
        margin-top: 4px;
        margin-bottom: 4px;
        vertical-align: top;
        font-family: monospace;
      }
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  .source-code {
    float: right;
    padding: 4px 10px 4px 8px;
    font-size: 14px;
    font-family: futura, sans-serif;
    text-decoration: none;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    background-color: #fff;
  }
}
